.App{
  /* position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #F3F5FC; */
}

.prueba{
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #F3F5FC;
}

#root{
  display: flex;
  justify-content: center;
}

.buttons{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnEncript{
  color: white;
  background-color: #0A3871;
  Width: 328px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  Height: 67px;
  Size: 16px;
}

.btnEncript h1{
  width: 280px;
  height: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.btnDesencript{
  color: #0A3871;
  background-color: white;
  Width: 328px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  Height: 67px;
  Size: 16px;
}

.btnDesencript h1{
  width: 280px;
  height: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;
}

.txtEncript{
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}

.desencriptador{
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.imgNot{
  position: absolute;
  width: 336px;
  height: 304px;
  top: 283px;
}


.imgNot2{
  display: none;
}

.txtNotDeco{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 336px;
  height: 122px;
  top: 619px;
}

.desencriptador h1{
  width: 336px;
  height: 58px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.desencriptador h2{
  width: 336px;
  height: 48px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}


@media screen and (max-width:768px){
  .txtEncript{
    position: absolute;
    width: 688px;
    height: 48px;
    left: 40px;
    top: 240px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
  }

  .prueba{
    position: relative;
    width: 768px;
    height: 1174px;
    background: #F3F5FC;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 688px;
    height: 67px;
    left: 40px;
    top: 870px;
  }

  .desencriptador{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    position: absolute;
    width: 688px;
    height: 133px;
    left: 40px;
    top: 960px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }

  .txtNotDeco{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: static;
    width: 624px;
    height: 69px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .desencriptador h1{
    width: 624px;
    height: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .desencriptador h2{
    width: 624px;
    height: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .imgNot{
    display: none;
  }
  
}
