/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App{
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #F3F5FC;
}

.buttons{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnEncript{
  color: white;
  background-color: #0A3871;
  Width: 328px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  Height: 67px;
  
  Size: 16px;
}

.btnDesencript{
  color: #0A3871;
  background-color: white;
  Width: 328px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  Height: 67px;
  Size: 16px;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;
}

.txtEncript{
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}

.desencriptador{
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.imgNot{
  position: absolute;
  width: 336px;
  height: 304px;
  top: 283px;
}

.txtNotDeco{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 336px;
  height: 122px;
  top: 619px;
}

.desencriptador h1{
  width: 336px;
  height: 58px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.desencriptador h2{
  width: 336px;
  height: 48px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}